<%- include('../partials/header') %>


<section class="about" id="about">
  <div class="container">
    <div class="about__container">
      
      <div class="about__content">
        <article class="about__content about__content--1"><img src="img/perfil.png" alt="Foto de Williams Hernandez"></article>
        <article class="about__content about__content--2">
          <h2 class="about__title" data-section="botones" data-value="boton-about">About me</h2>
          <div data-section="profile" data-value="description">
            <p>My name is Williams, I'm a Full Stack Javascript developer.</p>
            <p>I'm passionate about new technologies. For more than 15 years I've been dedicated to the training of
              educators and students. I love challenges, I've assumed leadership positions, teamwork, problem solving.</p>
            <p>Teaching profession, with a specialization in Computer Technologies in Education. I've coordinated teams of
              more than 64 people, trained more than 3000 students, today education teachers. Developed online courses and
              training with Moodle. I have become a programmer, because I like to find solutions and automate processes.</p>
            <p>For more than 4 years I have worked in sales, inventory management, customer service. I have implemented and
              managed a wordpress/woocommerce e-commerce store with more than 20,000 products. Currently I am developing
              personal projects in Node, React, Express and Postgres.</p>
          </div>
        </article>
      </div>
      </div>
  </div>
</section>
  <%- include('../partials/footer') %>