<%- include('../partials/header') %>


<section class="container" id="history">
  <div class="history">
    <div class="history__container">
      <h3>Experience</h3>
      <!-- Inicio de Esperiencia 5 -->
      <article class="card card--experience">

        <div class="experience">
          <img class="experiencie__image" src="img/logo_queleo.png" alt="Logo">
          <div class="experience__info">

            <div class="experience__left--side">
              <h4>BookStore Qué Leo Arica</h4>
              <div class="experience__job">Salesman</div>
            </div>
            <div class="experience__right--side">
              <span class="experiencie__time">
                Aug 2017 - Sept 2021
              </span>
            </div>
            <div class="experiencie__description">
              <p>Implementé ecommerce en WordPress/Woocommerce</p>
              <p>Mantenimiento y administración de ecommerce</p>
              <p>Manejo de caja, reposición e inventario.</p>
              <p>Ventas al detal</p>
            </div>
          </div>
        </div>


      </article>
      <!-- Fin de Experiencia 5 -->
      <!-- Inicio de Esperiencia 4 -->
      <article class="card card--experience">

        <div class="experience">
          <img class="experiencie__image" src="img/zec.jpg" alt="Logo">
          <div class="experience__info">
            <div class="experience__left--side">
              <h4>Zona Educativa Carabobo</h4>
              <div class="experience__job">Sistema de Gestión Escolar</div>
            </div>
            <div class="experience__right--side">
              <span class="experiencie__time">
                Sept 2015 - Jul 2017
              </span>
            </div>
            <div class="experiencie__description">
              <p>Supervisé planteles Escolares del municipio San Diego (64 planteles)
                para comprobar el ingreso de todos los estudiantes al sistema.</p>
              <p>Orientación en la resolución de problemas de registro.</p>
              <p>Elaboración de Informes Estadísticos.</p>
            </div>
          </div>
        </div>


      </article>
      <!-- Fin de Experiencia 4 -->
      <!-- Inicio de Esperiencia 3 -->
      <article class="card card--experience">

        <div class="experience">
          <img class="experiencie__image" src="img/UC_logo.png" alt="Logo">
          <div class="experience__info">

            <div class="experience__left--side">
              <h4>Universidad de Carabobo</h4>
              <div class="experience__job">Teacher</div>
            </div>
            <div class="experience__right--side">
              <span class="experiencie__time">
                Jul 2003 - Jul 2017
              </span>
            </div>
            <div class="experiencie__description">
              <p>Docencia a los futuros profesionales de educación en Ciencias Sociales.</p>
              <p>Coordinador Tecnologias de Información yComunicación
                del Departamento de Ciencias Sociales.</p>
              <p>Docente de Computación Básica</p>
            </div>
          </div>
        </div>


      </article>
      <!-- Fin de Experiencia 3 -->
      <!-- Inicio de Esperiencia 2 -->
      <article class="card card--experience">

        <div class="experience">
          <img class="experiencie__image" src="img/che_guevara.png" alt="Logo">
          <div class="experience__info">

            <div class="experience__left--side">
              <h4>Liceo Ernesto Che Guevara</h4>
              <div class="experience__job">Sub Director</div>
            </div>
            <div class="experience__right--side">
              <span class="experiencie__time">
                Marc 2008 - Jul 2015
              </span>
            </div>
            <div class="experiencie__description">
              <p>Encargado de los coordinadores de control de estudio y coordinadores.</p>
              <p>Supervisé a docentes de aula (45 docentes).</p>
              <p>Cumplimiento de metas educativas.</p>
              <p>Informes de Objetivos.</p>
            </div>
          </div>
        </div>


      </article>
      <!-- Fin de Experiencia 2 -->
      <!-- Inicio de Esperiencia 1 -->
      <article class="card card--experience">

        <div class="experience">
          <img class="experiencie__image" src="img/che_guevara.png" alt="Logo">
          <div class="experience__info">

            <div class="experience__left--side">
              <h4>Liceo Ernesto Che Guevara</h4>
              <div class="experience__job">Teacher</div>
            </div>
            <div class="experience__right--side">
              <span class="experiencie__time">
                Sep 2004 - Marc 2008
              </span>
            </div>
            <div class="experiencie__description">
              <p>Docente de media</p>
              
            </div>
          </div>
        </div>


      </article>
      <!-- Fin de Experiencia 1 -->

    </div>
    <div class="history__container">
      <h3>Education</h3>
      <!-- Inicio de Esperiencia 5 -->
      <article class="card card--experience">

        <div class="experience">
          <img class="experiencie__image" src="img/desafiolatam.jpg" alt="Logo">
          <div class="experience__info">

            <div class="experience__left--side">
              <h4>Talento Digital / DesafioLatam</h4>
              <div class="experience__job">Full Stack Javascript</div>
            </div>
            <div class="experience__right--side">
              <span class="experiencie__time">
                May 2021 - Oct 2021
              </span>
            </div>
            <div class="experiencie__description">
              <p>Desarrollo de aplicaciones tanto en frontend como en backend. Utilización de Lenguajes de Programación como CSS, Javascript, Node.js Framework como bootstrap, jquery, express y Bases de Datos como postgres</p>
            </div>
          </div>
        </div>


      </article>
      <!-- Fin de Experiencia 5 -->
      <!-- Inicio de Esperiencia 4 -->
      <article class="card card--experience">

        <div class="experience">
          <img class="experiencie__image" src="img/UC_logo.png" alt="Logo">
          <div class="experience__info">
            <div class="experience__left--side">
              <h4>Universidad de Carabobo</h4>
              <div class="experience__job">Esp. en Tecnologías de la Computación en Educación</div>
            </div>
            <div class="experience__right--side">
              <span class="experiencie__time">
                Jan 2007 - Jul 2010
              </span>
            </div>
            
              
            </div>
          </div>
      </article>
      <!-- Inicio de Esperiencia 3 -->
      <article class="card card--experience">

        <div class="experience">
          <img class="experiencie__image" src="img/UC_logo.png" alt="Logo">
          <div class="experience__info">

            <div class="experience__left--side">
              <h4>Universidad de Carabobo</h4>
              <div class="experience__job">Licenciado en Educación</div>
            </div>
            <div class="experience__right--side">
              <span class="experiencie__time">
                Nov 1998 - Jul 2003
              </span>
            
          </div>
        </div>


      </article>
      <!-- Fin de Experiencia 3 -->
      <h3>Certification</h3>
      <article class="card card--experience">
        <div class="experience">
          <img class="experiencie__image" src="img/platzi.jpg" alt="Logo">
          <div class="experience__info">
            <div class="experience__left--side">
              <h4>Platzi</h4>
              <div class="experience__job">Estrategias para aprender Inglés en línea</div>
            </div>
            <div class="experience__right--side">
              <span class="experiencie__time">
                March 2022
              </span>
            </div>
          </div>
      </article>
      <article class="card card--experience">
        <div class="experience">
          <img class="experiencie__image" src="img/platzi.jpg" alt="Logo">
          <div class="experience__info">
            <div class="experience__left--side">
              <h4>Platzi</h4>
              <div class="experience__job">Curso de Backend con Node.js: Api REST con Express.js</div>
            </div>
            <div class="experience__right--side">
              <span class="experiencie__time">
                March 2022
              </span>
            </div>
          </div>
      </article>
      <article class="card card--experience">
        <div class="experience">
          <img class="experiencie__image" src="img/platzi.jpg" alt="Logo">
          <div class="experience__info">
            <div class="experience__left--side">
              <h4>Platzi</h4>
              <div class="experience__job">Curso de Manipulacion de Arrays en Javascript</div>
            </div>
            <div class="experience__right--side">
              <span class="experiencie__time">
                March 2022
              </span>
            </div>
          </div>
      </article>
      <article class="card card--experience">
        <div class="experience">
          <img class="experiencie__image" src="img/platzi.jpg" alt="Logo">
          <div class="experience__info">
            <div class="experience__left--side">
              <h4>Platzi</h4>
              <div class="experience__job">Curso de Frontend Developer</div>
            </div>
            <div class="experience__right--side">
              <span class="experiencie__time">
                Jan 2022
              </span>
            </div>
          </div>
      </article>
      <article class="card card--experience">
        <div class="experience">
          <img class="experiencie__image" src="img/platzi.jpg" alt="Logo">
          <div class="experience__info">
            <div class="experience__left--side">
              <h4>Platzi</h4>
              <div class="experience__job">Curso de Closures y Scope en Javascript</div>
            </div>
            <div class="experience__right--side">
              <span class="experiencie__time">
                Aug 2021
              </span>
            </div>
          </div>
      </article>
      <article class="card card--experience">
        <div class="experience">
          <img class="experiencie__image" src="img/platzi.jpg" alt="Logo">
          <div class="experience__info">
            <div class="experience__left--side">
              <h4>Platzi</h4>
              <div class="experience__job">Curso de Inglés para principiantes</div>
            </div>
            <div class="experience__right--side">
              <span class="experiencie__time">
                Aug 2021
              </span>
            </div>
          </div>
      </article>
      <article class="card card--experience">
        <div class="experience">
          <img class="experiencie__image" src="img/platzi.jpg" alt="Logo">
          <div class="experience__info">
            <div class="experience__left--side">
              <h4>Platzi</h4>
              <div class="experience__job">Curso de POO en Javascript</div>
            </div>
            <div class="experience__right--side">
              <span class="experiencie__time">
                Aug 2021
              </span>
            </div>
          </div>
      </article>
      <article class="card card--experience">
        <div class="experience">
          <img class="experiencie__image" src="img/platzi.jpg" alt="Logo">
          <div class="experience__info">
            <div class="experience__left--side">
              <h4>Platzi</h4>
              <div class="experience__job">Taller de Inglés para principiantes</div>
            </div>
            <div class="experience__right--side">
              <span class="experiencie__time">
                Aug 2021
              </span>
            </div>
          </div>
      </article>
      </div>
      </div>
      </section>
  <%- include('../partials/footer') %>