<%- include('../partials/header') %>

<section class="home" id="home">

    <div class="home__container">
      <div class="home__content">
        <div class="home__content home__content--1" data-section="home" data-value="saludo">Hello, my name is</div>
        <div class="home__content home__content--2">Williams Hernández</div>
        <div class="home__content home__content--3">And I am    <span id="textMover"
            class="home__content--span maquina-escribir">  </span>
        </div>
        <div>

        </div><a href="/contact" class="home__content home__content--link" id="botonC" data-section="botones" data-value="boton-contact">Contact</a>
      </div>
    </div>

  </section>
  
<script src="/js/maquina.js"></script>
<%- include('../partials/footer') %>